<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myway.myboard.dao.BoardDAO">
	<resultMap type="com.myway.myboard.model.BoardVO" id="boardRM">
		<result property="seq" column="b_seq"/>
		<result property="title" column="b_title"/>
		<result property="writer" column="b_writer"/>
		<result property="hit" column="b_hit"/>
		<result property="regdate" column="b_regdate"/>
		<result property="content" column="b_content"/>
	</resultMap>

	
	<insert id="createPost" parameterType="com.myway.myboard.model.BoardVO">
		INSERT INTO tb_board (b_title, b_writer, b_hit, b_content) 
		VALUES (#{title}, #{writer}, #{hit}, #{content});
	</insert>
	
	<!-- 최신날짜가 위로오게 날짜 순으로 정렬 -->
	<select id="setBoardList" parameterType="hashmap" 
		resultType="com.myway.myboard.model.BoardVO" resultMap="boardRM">
		SELECT b_seq, b_title, b_writer, b_hit, b_regdate, b_content FROM tb_board
		<if test="searchOpt == 'title'">
			WHERE b_title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'content'">
			WHERE b_content LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'writer'">
			WHERE b_writer LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'titAndContent'">
			WHERE b_title LIKE CONCAT('%',#{keyword},'%') OR
			b_content LIKE CONCAT('%',#{keyword},'%')
		</if>
		ORDER BY b_seq DESC LIMIT #{startCnt}, #{perPageCnt};
	</select>
	
	<select id="cntTotal" parameterType="hashmap" 
		resultType="int">
		SELECT COUNT(b_seq) FROM tb_board
		<if test="searchOpt == 'title'">
			WHERE b_title LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'content'">
			WHERE b_content LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'writer'">
			WHERE b_writer LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchOpt == 'titAndContent'">
			WHERE b_title LIKE CONCAT('%',#{keyword},'%') OR
			b_content LIKE CONCAT('%',#{keyword},'%')
		</if>;
	</select>
	
	<select id="findPostBySeq" parameterType="int" resultType="hashMap">
		SELECT b_seq, b_title, b_writer, b_hit, b_regdate, b_content
		,(SELECT b_title FROM tb_board WHERE b_seq &lt; #{seq} ORDER BY b_seq DESC LIMIT 1) AS PREV_TITLE
		,(SELECT b_title FROM tb_board WHERE b_seq &gt; #{seq} ORDER BY b_seq LIMIT 1) AS NEXT_TITLE
		,(SELECT b_seq FROM tb_board WHERE b_seq &lt; #{seq} ORDER BY b_seq DESC LIMIT 1) AS PREV_SEQ
		,(SELECT b_seq FROM tb_board WHERE b_seq &gt; #{seq} ORDER BY b_seq LIMIT 1) AS NEXT_SEQ
		FROM tb_board WHERE b_seq = #{seq};
	</select>
	
	<delete id="deletePost" parameterType="map">
		DELETE FROM tb_board WHERE b_seq = #{seq} AND b_writer = #{writer};
	</delete>
	
	<update id="updatePost" parameterType="com.myway.myboard.model.BoardVO">
		UPDATE tb_board SET b_title = #{title}, b_content = #{content}, b_regdate = NOW()
		WHERE b_seq = #{seq};
	</update>
	
	<update id="updateHit" parameterType="int">
		UPDATE tb_board SET b_hit = b_hit + 1 
		WHERE b_seq = #{seq};
	</update>
	
	<select id="findMINMAXseq" resultType="HashMap">
		SELECT MIN(b_seq) as min, MAX(b_seq) as max FROM tb_board;
	</select>
	
	<!-- 검색 조건 SQL -->
	<sql id="search">

	</sql>
</mapper>
  